In [16]:
import pandas as pd

chembl = pd.read_csv('../data/indication_gene_link/chembl_chembl_2.csv') 
drugbank_dgidb_merged = pd.read_csv('../data/indication_gene_link/drugbank_dgidb.csv') 
drugbank_stitch_merged = pd.read_csv('../data/indication_gene_link/STITCH_drugbank.csv')
ruiz_dgidb_merged = pd.read_csv('../data/indication_gene_link/ruiz_dgidb.csv') 
ruiz_stitch_merged = pd.read_csv('../data/indication_gene_link/STITCH_Ruiz.csv')

ensembl_voc = pd.read_csv('../data/Ensembl_transcript_peptide_HGNC.tsv', sep='\t')

In [17]:
chembl_merged = chembl.merge(ensembl_voc, left_on='EnsemblID', right_on='ensembl_gene_id', how ='inner')
chembl_merged = chembl_merged[['Parent Molecule Name', 'Disease', 'hgnc_symbol']]
chembl_merged = chembl_merged.rename(columns={'Parent Molecule Name': 'Drug_id', 'hgnc_symbol': 'Gene_name'})
chembl_merged = chembl_merged.drop_duplicates(subset=['Drug_id', 'Disease','Gene_name'])
chembl_merged.head()

     Drug_id                                   Disease Gene_name
0  CLONIDINE  Attention Deficit Hyperactivity Disorder    ADRA2A
1  CLONIDINE                  Autism Spectrum Disorder    ADRA2A
2  CLONIDINE                   Substance Use Disorders    ADRA2A
3  CLONIDINE            Post Traumatic Stress Disorder    ADRA2A
4  CLONIDINE                          Anxiety Disorder    ADRA2A

In [18]:
drugbank_dgidb_merged = drugbank_dgidb_merged.drop(['ChEMBL_ID','Indication'], axis=1)
drugbank_dgidb_merged = drugbank_dgidb_merged.rename(columns={'DrugBank_ID': 'Drug_id', 'gene_name': 'Gene_name'})
drugbank_dgidb_merged.drop_duplicates()
drugbank_dgidb_merged.head()

  Gene_name  Drug_id           Disease
0       VDR  DB00543  Anxiety Disorder
1      DRD4  DB00543  Anxiety Disorder
2    SLC6A4  DB00543  Anxiety Disorder
3    CYP2D6  DB00543  Anxiety Disorder
4      DRD2  DB00543  Anxiety Disorder

In [19]:
drugbank_stitch_merged = drugbank_stitch_merged.drop(['Generic Name','Indication','ensembl_gene_id','ensembl_peptide_id'], axis=1)
drugbank_stitch_merged = drugbank_stitch_merged.rename(columns={'DrugBank ID': 'Drug_id', 'hgnc_symbol': 'Gene_name'})
drugbank_stitch_merged = drugbank_stitch_merged.drop_duplicates()
drugbank_stitch_merged.head()

   Drug_id           Disease Gene_name
0  DB00114  Eating Disorders       KMO
2  DB00114  Eating Disorders      ABAT
3  DB00119  Eating Disorders      ABAT
4  DB00313  Bipolar Disorder      ABAT
5  DB00780  Anxiety Disorder      ABAT

In [20]:
ruiz_dgidb_merged = ruiz_dgidb_merged.drop(['indication','indication_name','db_name','gene_claim_name'], axis=1)
ruiz_dgidb_merged = ruiz_dgidb_merged.rename(columns={'drugbank_id': 'Drug_id', 'gene_name': 'Gene_name'})
ruiz_dgidb_merged = ruiz_dgidb_merged[['Drug_id','Disease','Gene_name']] 
ruiz_dgidb_merged.drop_duplicates(subset=['Drug_id', 'Disease','Gene_name'])
ruiz_dgidb_merged.head()

     Drug_id           Disease Gene_name
0  CHEMBL930  Anxiety Disorder       GLS
1  CHEMBL930  Anxiety Disorder       GLS
2  CHEMBL930  Anxiety Disorder       GLS
3  CHEMBL930  Anxiety Disorder       GLS
4  CHEMBL930  Anxiety Disorder     DDIT3

In [21]:
ruiz_stitch_merged = ruiz_stitch_merged.drop(['drug_name','indication_name','ensembl_gene_id'], axis=1)
ruiz_stitch_merged = ruiz_stitch_merged.rename(columns={'drug': 'Drug_id', 'hgnc_symbol': 'Gene_name'})
ruiz_stitch_merged = ruiz_stitch_merged.drop_duplicates(subset=['Drug_id', 'Disease', 'Gene_name'])
ruiz_stitch_merged.head()

   Drug_id           Disease Gene_name
0  DB00130  Anxiety Disorder     ATXN2
1  DB00130  Anxiety Disorder    GPRC6A
2  DB00130  Anxiety Disorder        AR
3  DB00130  Anxiety Disorder     CTPS1
4  DB00130  Anxiety Disorder     IFT57

In [22]:
dataframes = {
    'chembl_merged_2': chembl_merged,
    'drugbank_dgidb_merged': drugbank_dgidb_merged,
    'drugbank_stitch_merged': drugbank_stitch_merged,
    'ruiz_dgidb_merged': ruiz_dgidb_merged,
    'ruiz_stitch_merged': ruiz_stitch_merged
}

for name, df in dataframes.items():
    df.to_csv(f'../data/merged_data/{name}.csv', index=False)